@font-face {
    font-family: "Myriad";
    src: url("../fonts/Myriad\ Pro\ SemiExtended.otf") format("opentype");
}
h1 {
    font-family: "Myriad";
    font-weight: bold;
    font-size: 36px;
    padding: 0.7rem 0;
    color: #f7cb36;
    text-transform: uppercase;
}
h2 {
    font-family: "Myriad";
    font-size: 30px;
    padding: 0.5rem 0;
    text-transform: uppercase;
}
h3 {
    font-family: "Myriad";
    font-weight: bold;
    font-size: 24px;
    padding: 0.4rem 0;
    text-transform: uppercase;
}
hr {
    width: 100%;
    height: 0.1rem;
    background-color: #f7cb36;
    border-radius: 2rem;
}
body {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    color: #fff;
    font-family: "Myriad";
}
.logo p {
    text-transform: uppercase;
    margin-top: -0.5rem;
    font-size: 18px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}
ul {
    margin: 1rem 0;
}
ul li {
    margin: 0.5rem 0;
    font-size: 18px;
}
ul li i {
    font-size: 3rem;
    margin-right: 2rem;
}
.icon img {
    height: 40px;
    width: 40px;
    overflow: hidden;
}
main {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.block {
    background-color: #10121191;
    height: auto;
    padding: 2rem;
    border-radius: 0;
}
@media screen and (min-device-width: 520px) {
    .block {
        border-radius: 1rem;
    }
}
label {
    font-size: 25px;
    margin: 0 .5rem;
}
@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 6px 0 rgba(204,169,44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 6px 10px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(116, 98, 34, 0.4);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 6px 0 10px rgba(226, 187, 45, 0.76);
        box-shadow: 0 0 0 10px rgba(214, 183, 6, 0.192);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
button {
    background-color: #f7cb36;
    font-size: 25px;
    border-radius: 1rem;
    padding: 0.9rem 1.5rem;
    margin: 1.5rem;
    border: none;
    transition: 0.1s linear;
    text-transform: uppercase;
    font-weight: bold;
    color: #212121;
    box-shadow: 0 6px #b99728;
    position: relative;
    overflow: hidden;
}
button:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fa4923;
    opacity: 0;
    z-index: 1;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
}
button:after {
    content: "";
    display: block;
    width: 30px;
    height: 300px;
    margin-left: 60px;
    background: #fff;
    position: absolute;
    left: -40px;
    top: -150px;
    z-index: 1;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-animation-name: slideme;
    animation-name: slideme;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes slideme { 0% { left: -30px; margin-left: 0px; }
  30% { left: 110%; margin-left: 80px; }
  100% { left: 110%; margin-left: 80px; } }
@keyframes shine{
    10% {
      opacity: 1;
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
      transition-duration: 0.7s, 0.7s, 0.15s;
      transition-timing-function: ease;
    }
    100% {
      opacity: 0.5;
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
    }
  }
button:hover {
    background-color: #d3ac2d;
}
@media screen and (max-device-width: 450px) {
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
    p {
        font-size: 14px;
    }
    button {
        font-size: 18px;
    }
    label {
        font-size: 20px;
    }
}

.form-check {
    display: inline-block;
    padding: 1rem 1.5rem;
}
.form-check-input {
    width: 1.3rem;
    height: 1.3rem;
    margin-top: 0.5rem;
}
input[type="radio"]:checked {
    color: #d3ac2d;
}
.progress {
    margin-bottom: 0.4rem; 
    height: 2rem;
}
.progress p {
    color: #000;
    font-weight: bold;
}