@font-face {
    font-family: "Myriad";
    src: url("../fonts/Myriad\ Pro\ SemiExtended.otf") format("opentype");
}
body {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}
h1 {
    font-family: "Myriad";
    font-weight: bold;
    font-size: 36px;
    padding: 0.7rem 0;
    color: #f7cb36;
    text-transform: uppercase;
}
h2 {
    font-family: "Myriad";
    font-size: 30px;
    padding: 0.5rem 0;
    text-transform: uppercase;
}
h3 {
    font-family: "Myriad";
    font-weight: bold;
    font-size: 24px;
    padding: 0.4rem 0;
    text-transform: uppercase;
}
hr {
    width: 100%;
    height: 0.1rem;
    background-color: #f7cb36;
    border-radius: 2rem;
}
body {
    color: #fff;
    font-family: "Myriad";
}
.logo p {
    text-transform: uppercase;
    margin-top: -0.5rem;
    font-size: 25px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}
ul {
    margin: 1rem 0;
}
ul li {
    margin: 0.5rem 0;
    font-size: 18px;
}
.icon img {
    height: 60px;
    width: 60px;
    overflow: hidden;
}
main {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.block {
    background-color: #10121191;
    height: auto;
    padding: 2rem;
    border-radius: 0;
}
@media screen and (min-device-width: 520px) {
    .block {
        border-radius: 1rem;
    }
}
button {
    background-color: #f7cb36;
    border-radius: 1rem;
    padding: 0.7rem 1.2rem;
    border: none;
    transition: 0.1s linear;
    text-transform: uppercase;
    font-weight: bold;
    color: #212121;
}
button:hover {
    background-color: #d3ac2d;
}
@keyframes blick {
    0% {
      left: -30px;
      margin-left: 0px;
    }
    30% {
      left: 110%;
      margin-left: 80px;
    }
    100% {
      left: 110%;
      margin-left: 80px;
    }
  }
  
.btn-1:after {
      content: "";
      display: block;
      width: 30px;
      height: 300px;
      margin-left: 60px;
      background: #fff;
      position: absolute;
      left: -40px;
      top: -150px;
      z-index: 1;
      transform: rotate(45deg);
      transition: all 0.1s;
      animation-name: blick;
      animation-duration: 3s;
      animation-delay: 0.05s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
  }
.form-check {
    display: inline-block;
    padding: 1rem 1.5rem;
}
label {
    font-size: 25px;
    margin: 0 .5rem;
}
.form-check-input {
    width: 1.3rem;
    height: 1.3rem;
    margin-top: 0.5rem;
}
input[type="radio"]:checked {
    color: #d3ac2d;
}
.progress {
    margin-bottom: 0.4rem; 
    height: 2rem;
}
.progress p {
    color: #000;
    font-weight: bold;
}